body {
  background-color: pink;
}

h1 {
  color: white;
}

.form,
.greeting {
  display: none;
}

.showing {
  display: block;
}

h2 {
  color: brown;
}

.js-toDoForm {
  margin-bottom: 20px;
}

.pending,
.finished {
  font-weight: 600;
  font-size: 20px;
}
